
  <!-- navigation bar -->
  <nav>
    <ul class="nav-bar">
      <li><a class="active" href="/">QUIZZAPP</a></li>
      <!-- check if user is logged in or not to change nav bar links -->
      <% if (true !== true) { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      <% } else { %>
        <li><a href="/user">username Profile</a></li>
        <li><a href="/new_quizz">New Quizz</a></li>
        <!-- button to logout -->
        <li>
          <form action="/logout" method="post">
          <button type = "submit" >logout</button>
        </form>
        </li>
      <% } %>
    </ul>
  </nav>
