
  <!-- navigation bar -->
  <nav>
    <!-- website name -->
    <!-- <div class="app-name">
      <h5>Quizz App</h5>
    </div> -->
    <!-- login & register links -->
    <!-- <diuv class="nav-links">
      <a class="login">Login</a>
      <a class="register">Register</a>
    </div> -->
    <ul class="nav-bar">
      <li><a class="active" href="#index">QUIZZAPP</a></li>
      <li><a href="#login">Login</a></li>
      <li><a href="#register">Register</a></li>
    </ul>
  </nav>
