
  <!-- navigation bar -->
  <nav>
    <ul class="nav-bar">
      <li><a class="active" href="/">QUIZZAPP</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
  </nav>
