<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Create a New Quiz</title>
</head>
<body>
<main>
</main>
<div id="new-quiz-question">
<form action="/routes/users.js" method="post">
  <div id="question"><label for="question">Enter your quiz question:</label>
    <input type="text" name="question" id="new-question">
  </div>
  <div class="choices">
    <ul>
      <li><label for="choice-A">A</label>
        <input type="text" name="choice-text-A" id="choice-A">
      </li>
      <li><label for="choice-B">B</label>
        <input type="text" name="choice-text-B" id="choice-B">
      </li>
      <li><label for="choice-C">C</label>
        <input type="text" name="choice-text-C" id="choice-C">
      </li>
      <li>
        <label for="choice-D">Answer</label>
        <input type="text" name="choice-text-D" id="answer">
      </li>
    </ul>
  </div>
  <button class="button" type="submit">Add Question</button>
  <button class="button" type="submit">Create Quiz</button>
</form>
<!-- some sort of add question functionality - how to repeat a new-question id output upon the push of a button? -->
</div>

</body>
</html>
