<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz</title>
</head>
<body>
<header>
<img source=#>
</header>
<h1>Title of quiz</h1>
<div class="container">
  <div id="quiz-box">
    <div class="question"></div>
    <div class="answers"></div>
  </div>
  <div id="result">
    <div id="result-button">
    </div>
  </div>
</div>
</body>
</html>
