<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Quizz result page</title>

    <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Josefin+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/user.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <!-- adding navbar from _nav.ejs -->
    <%- include('partials/_nav') %>
    <header>
    </header>
    <main >
      <div class="column" >
        <div class="info">
          <h2>Alice</h2>
          <h6><a href=/quizzes/6>Star trek trivia</a></h6>
          <i class="fas fa-share-alt"></i>
        </div>
        <div>
          <h2>3/6</h2>
        </div>
        <div id="checkbox">
          <form class="quizz-form" action="/result" method="GET">
            <button type=“submit” class=“submit-button”>share!</button><a href=/result>
              http://localhost:8080/result
              </a></button>
          </form>
      </div>

    </main>

  </body>
  <%- include('partials/_footer') %>

</html>
