footer {
  padding: 0.10rem;
  height: 50%;
  width: 100%;
  text-align:center;
  background-image: url(/images/quizzfooter.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
