// See: https://sass-lang.com/

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  background-color: white;
  width: 100%;
  font-size: 10px;
  h1 {
    color: white;
  }
  //navigation bar

}






