nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: #0f7a8a;
  // background-color: red;
  color: white;

  // app name links on the nav bar
  .app-name {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 0.2rem;
    font-family:  'Carter One', cursive;
    font-size: 20px;
  }

  // login & register links on the nav bar
  .nav-links {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    padding: 0.2rem;
    font-size: 13px;
    font-weight: bold;

    .login {
      margin: 5px;

    }
    .register {
      margin: 5px;

    }

  }
}
