
.main-register {
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: black;
  margin: 1rem;
  text-align: center;


  h3 {
    width: 100%;
    padding: 1rem;
    display: flex;
    text-align: center;

  }

  .register-form {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .name-input {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-around;
      padding: 1rem;
    }

    .email-input {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-around;
      padding: 1rem;
    }

    .password-input {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-around;
      padding: 1rem;
    }

    .register-button {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}
