

main{
  color:  #0f7a8a;
  height: 100%;
  padding: 2rem;
  margin-top: 4rem;
  .row {
    margin-bottom: 3rem;
  }
  .column {
    color: white;
    background-color: #0f7a8a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;

  }
  button {
    border: 1px solid #0f7a8a;
    display: grid;
    background-color: #0f7a8a;
    color: #fff;
    padding: 7px;
    margin: auto;
  }
}

